<body class="bg">
  <div class="layer">
    <div class="detail">
      <div style="font-size: 40px;margin-bottom:10pt; ">CONTACT DETAILS</div>
      <div class="profile"><img src="../../assets/images/me.png"></div>
      <div> Name : Megha Baboria</div>
      <div> Roll Number : 190050067</div>
      <div> Email : meghababoria@gmail.com</div>
      <div class="profile"><img src="../../assets/images/me3.png"></div>
      <div> Name : Vikas Panwar</div>
      <div> Roll Number : 190050129</div>
      <div> Email : vikaspanwar2007@gmail.com</div>
    </div>
  </div>
</body>